/* 달력 전체를 감싸는 컨테이너에 스타일 추가 */
.custom-calendar {
    border: 2px solid #3498db;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 달력 헤더의 스타일 추가 */
.react-calendar__navigation {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 이전, 다음 달력 버튼 스타일 추가 */
.react-calendar__navigation button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* 날짜에 마우스 호버 시 스타일 추가 */
.react-calendar__tile--hover,
.react-calendar__navigation button:hover {
    background-color: #3498db; /* 이 부분을 원하시는 색상으로 변경하세요 */
    color: #fff;
    cursor: pointer;
}

/* 선택된 날짜의 스타일 추가 */
.react-calendar__tile--active {
    background-color: #3498db;
    color: #fff;
    border-radius: 50%;
}

/* 오늘 날짜의 스타일 추가 */
.react-calendar__tile--now {
    background-color: #3498db;
    color: #fff;
}

/* 달력의 일자 스타일 추가 */
.react-calendar__tile {
    border-radius: 0;
    transition: background-color 0.2s ease;
}

/* 달력의 일자 스타일 추가 (일요일, 토요일에 색상 부여) */
.react-calendar__month-view__days__day--weekend {
    color: #3498db;
}

/* 달력의 요일 스타일 추가 */
.react-calendar__month-view__weekdays {
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
}

/* 달력의 요일 스타일 추가 (일요일, 토요일에 색상 부여) */
.react-calendar__month-view__weekdays__weekday--weekend {
    color: #3498db;
}

.custom-sunday {
    color: #ff0000; /* 빨간색 글자색 */
}

.custom-selected {
    color: #fff; /* 흰색 글자색 */
    background-color: rgba(52, 152, 219, 0.5); /* 선택된 날짜의 배경색 */
}
